.btn-buy-now{
    font-weight: 600;
}
.content-img-prod-open{
    position: relative;
    height: 50vh;
}
.content-img-prod-open img{
    position: absolute;
    max-width: 50vw !important;
    max-height: 50vh;
    width: auto;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    top: 0;
}
.component-info-buy{
    padding-bottom: 1.5%;
}
.content-cbu{
    word-wrap: break-word;
    font-size: 15px !important;
}
.desc-card-view-transaction p{
    font-size: 15px !important;
}
.proof-preview-prod{
    width: 50%;
    height: auto;
    margin: 4%;
    display: inline-block;
    max-height: 100px;
    max-width: 100px;
}
.breadcrumb-product-open{
    background-color: transparent;
    box-shadow: none !important;
    font-weight: 600;
}